@use './partials/general' as *;
@use './partials/variables' as *;

@import "~bootstrap/scss/bootstrap";

@import "./partials/header";
@import "./partials/footer";

.comic {
    display: flex;
    flex-flow: column;
    align-items: start;
    width: calc(100% / 6 - 27px / 6 * 5);
    gap: 20px;

    span {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
    }

    .comic-image {
        max-width: 185px;
        max-height: 185px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

#hero {

    background-color: #1c1c1c;

    .jumbo {
        height: 400px;
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .comics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 52px 30px;
        gap: 50px 27px;
        color: white;


        position: relative;



        .current-series {
            position: absolute;
            top: -30px;
            left: 0;

            background-color: $blueColor;
            padding: 5px 23px;
            text-transform: uppercase;
            font-weight: bolder;

            font-size: 26px;


        }

        .btn {
            padding: 10px 60px;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            background-color: $blueColor;
            color: white;
            border-radius: 0%;
        }
    }
}